// 
// 
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.


// Color Scheme
// Uncomment the variables below and change the hex values.

$primary: #50a4b1;
$primary-1: #2E2640;
$primary-2: #ffe0a4;
$primary-3: #2E2640;
$secondary: #5d5585;
$success: #74C47C;
$danger: #FF8789;
$light: #c7dce2;
$dark: #231f2f;

// Do not change or remove the $theme-color-scheme or $theme-colors maps below

$theme-color-scheme: (
    "primary":    $primary,
    "primary-1":  $primary-1,
    "primary-2":  $primary-2,
    "primary-3":  $primary-3,
    "secondary":  $secondary,
    "success":    $success,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
);

$theme-colors: (
    "primary":    $primary,
    "primary-1":  $primary-1,
    "primary-2":  $primary-2,
    "primary-3":  $primary-3,
    "secondary":  $secondary,
    "success":    $success,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
);

// Export to make vars accessible in JSX

:export {
  primary:      $primary;
  primary-1:    $primary-1;
  primary-2:    $primary-2;
  primary-3:    $primary-3;
  secondary:  $secondary;
  success:    $success;
  danger:     $danger;
  light:      $light;
  dark:       $dark;
}